In [2]:
import pyodbc
import sys
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, MetaData, Table, select

In [3]:
print('Python version ' + sys.version)
print('Pandas version ' + pd.__version__)

Python version 3.5.2 |Anaconda 4.1.1 (64-bit)| (default, Jul  5 2016, 11:41:13) [MSC v.1900 64 bit (AMD64)]
Pandas version 0.18.1

In [4]:
TableName = "DimCustomer"

ServerName = "homeoffice2"
Database = "AdventureWorksDW2012?driver=SQL+Server+Native+Client+11.0"
TableName = "DimCustomer"

engine = create_engine('mssql+pyodbc://' + ServerName + '/' + Database, legacy_schema_aliasing=False)
conn = engine.connect()

metadata = MetaData(conn)

In [5]:
col_names = ['FirstName', 'LastName', 'BirthDate', 'Gender', 'YearlyIncome', 'CustomerKey']
tbl = 'DimCustomer'

In [6]:
t0 = pd.read_sql_table(tbl, engine, columns=col_names)
t0.columns

Index(['FirstName', 'LastName', 'BirthDate', 'Gender', 'YearlyIncome',
       'CustomerKey'],
      dtype='object')

In [10]:
t0.index

RangeIndex(start=0, stop=18484, step=1)

In [11]:
t1 = pd.read_sql_table(tbl, engine, columns=col_names, index_col='CustomerKey')
t1.columns

Index(['FirstName', 'LastName', 'BirthDate', 'Gender', 'YearlyIncome'], dtype='object')

In [12]:
t1.index

Int64Index([11000, 11001, 11002, 11003, 11004, 11005, 11006, 11007, 11008,
            11009,
            ...
            29474, 29475, 29476, 29477, 29478, 29479, 29480, 29481, 29482,
            29483],
           dtype='int64', name='CustomerKey', length=18484)

The query in cell #xx above returned all columns as string.  You can coerce date strings into date objects.

In [ ]:
t2 = pd.read_sql_table(tbl, engine, columns=col_names, index_col='CustomerKey', parse_dates=['BirthDate'])
t2.columns

In [ ]:
q1 = pd.read_sql_query('SELECT FirstName, LastName, Gender, BirthDate, YearlyIncome '
                 'FROM dbo.DimCustomer '
                 'WHERE YearlyIncome > 50000;'
                        , engine)

In [ ]:
q1.shape

In [ ]:
col_names = ['FirstName', 'LastName', 'Gender', 'BirthDate', 'YearlyIncome']
q2 = pd.read_sql_query('DimCustomer', engine, columns=col_names)
q2.shape

In [ ]:
col_names = ['FirstName', 'LastName', 'Gender', 'BirthDate', 'YearlyIncome']
whr_str = ""
q3 = pd.read_sql_query('DimCustomer', engine, params=('WHERE=YearlyIncome>100000'), columns=col_names)

In [ ]:
q3.columns

In [ ]:
col_names = ['FirstName', 'LastName', 'Gender', 'BirthDate', 'YearlyIncome']
whr_str = "WHERE=YearlyIncome>100000"
ord_by = "ORDERBY YearlyIncome"
q1 = pd.read_sql_query('DimCustomer', engine, params=(whr_str, ord_by), columns=col_names)

In [7]:
df2 = pd.DataFrame([['cold','slow', np.nan, 2., 6., 3.], 
                    ['warm', 'medium', 4, 5, 7, 9],
                    ['hot', 'fast', 9, 4, np.nan, 6],
                    ['cool', None, np.nan, np.nan, 17, 89],
                    ['cool', 'medium', 16, 44, 21, 13],
                    ['cold', 'slow', np.nan, 29, 33, 17]],
                    columns=['col1', 'col2', 'col3', 'col4', 'col5', 'col6'],
                    index=(list('abcdef')))

In [8]:
df2.columns

Index(['col1', 'col2', 'col3', 'col4', 'col5', 'col6'], dtype='object')

In [9]:
df2.index

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [19]:
import pandas as pd
import pyodbc
pd.set_option('display.max_columns',50)
pd.set_option('display.width',5000)

conn_str = r"DRIVER={0};SERVER={1};DATABASE={2}".format("SQL Server Native Client 11.0",'.','AdventureWorksDW2012')
cnxn = pyodbc.connect(conn_str)
sql_statement = "SELECT * FROM sys.databases WHERE database_id = ?"
df = pd.read_sql_query(sql = sql_statement, con = cnxn, params = [2])
cnxn.close()
print(df.iloc[:,0:2].head())

Error: ('28000', "[28000] [Microsoft][SQL Server Native Client 11.0][SQL Server]Login failed for user ''. (18456) (SQLDriverConnect)")