# Chapter 7 -- Pandas, Part2
#### Slicing, Dicing, & Subsetting;

The usual pre-amble to get packages loaded into the namespace.

In [ ]:
import numpy as np
import pandas as pd
from numpy.random import randn
from pandas import Series, DataFrame, Index

Reading the .csv file with the reader read_csv.

In [2]:
# creating a DataFrame with the read_csv() method

file_loc = "C:\Data\\uk_accidents.csv"
df = pd.read_csv(file_loc,low_memory=False)

Drop rows with missing values.

In [3]:
# dropping rows in the original accidents DataFrame

print(df.shape)
df = df.dropna()
print(df.shape)

(266776, 27)
(266752, 27)

#### Slicing, Dicing, and Subseting

Our DataFrame is a time series.  This often means we need to understand durations, convert a time series to a different frequency, or make adjustments based on non-standard intervals like the 5 day business week.

In [4]:
#df.sort_values(by='Date').tail()

In [5]:
df.set_index('Date', drop=False, inplace=True)

In [ ]:
# Indexed returned when sorted
df.index

In [6]:
# Indexed returned when NOT-sorted
df.index

Index(['1/9/2015', '1/9/2015', '2/23/2015', '2/23/2015', '2/23/2015',
       '2/11/2015', '2/11/2015', '2/23/2015', '2/23/2015', '4/18/2015',
       ...
       '8/30/2015', '11/29/2015', '11/29/2015', '11/29/2015', '7/26/2015',
       '7/26/2015', '12/31/2015', '7/28/2015', '7/28/2015', '7/15/2015'],
      dtype='object', name='Date', length=266752)

In [ ]:
#df['Date'] = pd.to_datetime(df['Date'])

In [ ]:
df2 = pd.DataFrame([['cold','slow', np.nan, 2., 6., 3.], 
                    ['warm', 'medium', 4, 5, 7, 9],
                    ['hot', 'fast', 9, 4, np.nan, 6],
                    ['cool', None, np.nan, np.nan, 17, 89],
                    ['cool', 'medium', 16, 44, 21, 13],
                    ['cold', 'slow', np.nan, 29, 33, 17]],
                    columns=['col1', 'col2', 'col3', 'col4', 'col5', 'col6'],
                    index=['f','b','c','d','e','f'])

In [8]:
df.index.is_monotonic_increasing

False

In [ ]:
# Range for rows with dates between 25Dec15 and 31Dec15
df.loc['12/25/2015':'12/31/2015']

print('There were {} accidents between 25Dec2015 and 31Dec2015:'.format(len(df.loc['2015-12-25'-'2015-12-31'])))

We often need to slice, dice, and subset data.  DataFrames provide indexing methods to accomplish these tasks.  They are:

    1. loc() method which is mainly used with labels (either column or row)
    2. iloc() method which is mainly an integer-based method
    3. .ix() method which supports a combination of the loc() and iloc() methods
    
Presently, the DataFrame df has its rows indexed by the RangeIndex (0 to 266775) built when the DataFrame was created. And because the UK accidents data set is a time-series, it makes sense to index the rows by date.  The Pandas documentation refers to axis, where axis 0 is the row dimension and axis 1 is the column dimension.  This will make more sense in the examples below.

In [ ]:
# add a new column to the dataframe 

df['id'] = list(range(len(df.index)))

In [ ]:
df.set_index('Date', drop=False, inplace=True)

The syntax for the .loc() method is:

    df.loc[row selection, column selection]
    
With the index set to 'Date' the .loc() method is able to select rows based on the index value of any row.  The example in the cell below selects the rows with date of Dec. 25, 2015. This particular data has multiple accidents reports for each day, so that the index column values are not unique.  

The absence of a column selection is an implicit request for all columns.

In [ ]:
df.loc['2015-12-25'].head(2)

If the .loc() method returns a single row, then the result is a Series. In our case, we have multiple accidents per day in the DataFrame.

In [ ]:
print(type(df.loc['2015-12-25']))

In [ ]:
The built-in function len() returns of the length of the row slice.

In [ ]:
# How many accidents occured on Christman Day?

print('There were {} accidents on Christmas 2015.'.format(len(df.loc['2015-12-25'])))

You can use a range for both row and column selection.  In the example below, rows are from the data range (start and end dates) inclusive.  This is equivalent to SAS' WHERE clause:

    (where=(date between "25Dec2015"d and "31Dec2015"d))
    
The SAS example is shown below.

61       data _null_ (keep=date);
62          set uk_accidents(where=(date between "25Dec2015"d and "31Dec2015"d)) end=end;
63       retain count 0;
64       
65       count+1;
66          if end then put 'There were ' count' accidents between 25Dec15 and 31Dec15';

There were 53373 accidents between 25Dec15 and 31Dec15

Notice the implied boolean variable end= on the SET statement above.  The automatic variable 'end' is initialized to 0 and set to 1 when the last observation in the data set is read.  The syntax:
    
    if end ....

in SAS is identical to:

    if end = 1 ....
    
The Pythonic way would be:

    if end = True

In [ ]:
# returns rows between 15Dec2015 and 31DecJan2015 and the associated 'Number_of_Vehicles' and 'Time' values

df.loc['2015-12-25':'2015/12/31', ['Number_of_Vehicles', 'Time']].head()

In [ ]:
# returns rows between 15Dec2015 and 31DecJan2015 and the associated 'Number_of_Vehicles' and 'Time' values

df.loc['2015-12-25':'2015/12/31', ['Number_of_Vehicles', 'Time']].head()

The next two examples use a boolean mask with .loc() method.  The mask is a Series of True/False values the .loc() indexer uses to select those rows where the condition(s) evaluate True.  Notice we are not relying on the indexed column Date, however, this column is returned since it is remains set as the index for the DataFrame.

In [ ]:
# selection with boolean conditions using .loc() method 
# All rows for Saturday, speed limit > 70 and the associated 'Time' values

df.loc[(df['Day_of_Week'] == 6) & (df['Speed_limit'] >= 70)].head(2)

In [ ]:
# A boolean mask used to select the records for Saturday, speed limit > 70, and the associated column 'Time'

df.loc[(df['Day_of_Week'] == 6) & (df['Speed_limit'] >= 70), ['Time']].head()

In [ ]:
# DataFrame describe method

df.describe(percentiles=None)

SAS procedures like MEANS and UNIVARITE will return similiar summary statistics.  However, the output is on a variable basis, producing a large amount of output.

The Sex_of_Driver column is a key classifier, and we know -1 is used to indicate missing and the value 3 is used to indicate unknown.  The unique() method is analogous to PROC SQL's select distinct <variable-list> statement.  Both return a list of unique values for the column(s).

In [ ]:
# similar to PROC SQL; select distinct, the unique() method finds unique values for a variable

df.Sex_of_Driver.unique()

In [ ]:
# similar to PROC SQL; select distinct, the unique() method finds unique values for a variable

df.Sex_of_Driver.unique()

What is needed, is both distinct values and a count.  The value_counts() method is analogus to PROC FREQ.  Later in this chapter, we will see additional DataFrame methods like crosstab() to render results in a less spartan fashion.

In [ ]:
df.Sex_of_Driver.value_counts()

50       proc freq data = uk_accidents;
51       tables sex_of_driver / missing missprint nocum nopercent;

In [ ]:
# From the SAS example above, output from PROC PRINT
#C:\Users\randy\Anaconda3\output

Image(filename='Anaconda3\\output\\freq_sex_of_driver.JPG')

Square brackets [ ] are used to subset a Python object.  This syntax is illustrated in the cell below.  df1 is a new DataFrame which contains three columns and all rows from DataFrame df.

In [ ]:
# selecting all columns by name

df1 = df[['Age_of_Driver', 'Sex_of_Driver', 'Time']]
df1.shape

The analog SAS program is below.  Notice how the KEEP list is associated with the SET statement which directs SAS to read just the 3 columns from the input data set.  The KEEP list on the input data set returns the same results but instead reads all of the columns.

In [ ]:
52       data df1;
53          set uk_accidents(keep = age_of_driver sex_of_driver date);

NOTE: 266776 observations were read from "WORK.uk_accidents"
NOTE: Data set "WORK.df1" has 266776 observation(s) and 3 variable(s)

In [ ]:
#Wrong syntax example
df2 = df[[('Sex_of_Driver' == 2) & ('Age_of_Driver' >= 70)]]

We often wish to slice by row and column.  Earlier you saw examples of boolean operators.  Using the column label-syntax illustrated above raises an error in the example below.  

The Python interpreter is attempting to evaluate a boolean comparision of the literal string 'Age_of_Driver' equal to or greater than 70.  Clearly, we need another syntax to accomplishing the slicing operation.

The example below illustrates the use of column as an attribute.  You utilize the square brackets to create a slice.  This creates a DataFrame selecting the rows expressed by the boolean condition.  Observe how the name of the DataFrame appears before the square brackets [ ].  Without this object name, the syntax produces a list as shown in the example two cells below.

In [ ]:
#Correct syntax
df2 = df[(df.Sex_of_Driver == 2) & (df.Age_of_Driver >= 70)]
print(type(df2))
print(len(df2))
print(df2.shape)

In [ ]:
df3 = [(df.Sex_of_Driver == 2) & (df.Age_of_Driver >= 70)]
type(df3)


*************WE ARE SUBSETTING AND CREATING NEW DATA FRAMES HERE********************************

We often need to create sub-sets of a DataFrame object.  The use cases for sub-setting with SAS is generally with the SET and WHERE statements, or IF/THEN DO blocks with an explicit OUTPUT statement.  Of course, both languages have multiple methods for accomplishing the same tasks.

In [ ]:
len(df3)

In [ ]:
df3[0][1:10]

In [ ]:
print("Female Drivers with age >= 70: {0}".format(len(df2)))