# Chapter 8 -- Python Date, Time, and Timedelta Objects
## Introduction

## Draft

<a href="http://nbviewer.jupyter.org/github/RandyBetancourt/PythonForSASUsers/blob/master/Chapter%203%20%20--%20Data%20Types%20and%20Formatting.ipynb">
Chapter 3, Data Types and Formatting</a> briefly introduced Python date and datetimes.  In this chapter, we will cover Python Date, Time, and Datetime objects and more formatting details.  By understanding the lower-level behaviors of Date and Time objects, you will be able to quickly grasp Chapter9, "Pandas' Time Series" capabilities for datetime manipulation.

The datetime module imported below provides clasess for formatting and manipulating, dates and times.  We also introduce the timedelta object for date and time manipluations 

The SAS analogs are: 

    SAS date value = '14Oct16'd
    SAS time value = '12:34:56't
    SAS datetime value = '14Oct16:12:34:56'dt

The timedelta is used for manipulating dates and time and there are number of SAS interval functions that can be used as analogs.  Like:

<a href="http://support.sas.com/documentation/cdl/en/lrdict/64316/HTML/default/viewer.htm#a000212700.htm">INTNX </a>

<a href="http://support.sas.com/documentation/cdl/en/lrdict/64316/HTML/default/viewer.htm#a000212868.htm">INTCK </a>

<a href="http://support.sas.com/documentation/cdl/en/lrdict/64316/HTML/default/viewer.htm#a003079048.htm">INTGET </a>

    
In Python, the datetime class be broken down into 5 categories:
     1. date -- manipulating calendar dates
     2. time -- time manipulation independent of the date
     3. datetime -- combines date and time
     4. timedelta -- for calculating time intervals and durations
     5. tzinfo -- for dealing with timezone related issues

The first 4 will be examined briefly.

In [1]:
from datetime import date, time, datetime, timedelta
import numpy as np
import pandas as pd
from pandas import Series, DataFrame, Index

## date objects

The syntax for constructing a date object is:

    date(year = yyyy, month = mm, day = dd)
    
    Where: yyyy is an integer ranging from 1 to 9999 by default
           mm is an integer ranging from 1 to 12 inclusive
           dd is an integer ranging from 1 to the number of days in the month of the year

The details for the date object are found <a href="https://docs.python.org/3.6/library/datetime.html#datetime.date"> here </a>

In [2]:
ind_day = date(1776, 7, 4)
print(ind_day)
print(type(ind_day))

1776-07-04
<class 'datetime.date'>

A self-explanatory example.

In [3]:
date.today()

datetime.date(2016, 10, 23)

Above, the today() method returns today's date.  The SAS analog is the today() function.

In [4]:
print(date.today().year)
print(date.today().month) 
print(date.today().day)

2016
10
23

The .year, .month, and .day attribute for datetime objects returns year, month, and day respectively.  These attributes return integers.  

SAS has the analog functions, year(), month(), day(), used to return the respective portions of a SAS datetime value. These functions return numeric values.

The analog SAS program for the examples in cells #3 to #6 is below.

````
    37       data _null_;
    38       
    39       today = today();
    40       ind_day = '04Jul1776'd;
    41       
    42       today_f = put(today,mmddyy10.);
    43       put 'unformatted, today is: ' today /
    44           'formatted with mmddyy10. , today is: ' today_f;
    45       
    46       m = month(today);
    47       d = day(today);
    48       y = year(today);
    49       
    50       put 'Month returns: ' m
    51           ' Day returns: ' d
    52           ' Year returns ' y;

    unformatted, today is: 20748
    formatted with mmddyy10. , today is: 10/21/2016
    Month returns: 10  Day returns: 21  Year returns 2016

````

In [5]:
print('Year:', ind_day.year, 'Month:', ind_day.month, 'and day:', ind_day.day)

Year: 1776 Month: 7 and day: 4

The .year, .month, and .day attributes also work with arbitrary dates as illistrated in cell #7 above.

In [6]:
print(date.weekday(ind_day))

3

Above, the weekday() method returns an integer representing day of the week where Monday is 0 and Sunday is 6.  The SAS analog is the WEEKDAY() function that returns numeric where 1 is Sunday and Saturday is 7.

## strftime() and strptime() methods

Like SAS, when working with datetime objects, formatting is needed to render the dates into familiar date and time designations.  In cell # 9 below, we can render the constituent parts of the ind_day object created in cell #2 above.  We also need formatting when creating datetime objects from string representations of datetime illustrated in cell #xx below.

The strftime() method (string formatter for time) is used to create string repersentations of Python datetime objects. 

The strptime() method (string parser for time) is used to create datetime objects from string representations of datetime.

The directives for formatting both are found <a href="https://docs.python.org/3.4/library/datetime.html#strftime-and-strptime-behavior"> here.</a> 

SAS formats are analogous to strftime() method.  SAS informats are analagous to strptime() method.

In [7]:
print('Day:', ind_day.strftime('%A'))
print('The convential method to display the date is:', ind_day.strftime('%c'))
print('Another way to display the date is:', ind_day.strftime('%A %B %d, %Y'))

Day: Thursday
The convential method to display the date is: Thu Jul  4 00:00:00 1776
Another way to display the date is: Thursday July 04, 1776

The example below illustrate these commonly used SAS formats:
    
<a href="http://support.sas.com/documentation/cdl/en/lrdict/64316/HTML/default/viewer.htm#a000195834.htm">date11. </a>

<a href="http://support.sas.com/documentation/cdl/en/lrdict/64316/HTML/default/viewer.htm#a000197953.htm">ddmmyy10. </a>
   
<a href="http://support.sas.com/documentation/cdl/en/lrdict/64316/HTML/default/viewer.htm#a000201433.htm">weekdate17. </a>
    
<a href="http://support.sas.com/documentation/cdl/en/lrdict/64316/HTML/default/viewer.htm#a000197961.htm">yymmdd10. </a>

The strftime() method apply format directives to datetime objects.  As illustrated above, these directives can be combined to form the desired output.  This includes any arbitrary characters such as comma, slash, or white-space needed to form the output.

In [8]:
last_day = date(2016, 12, 31)
print('Last day is:', last_day.strftime("%d-%b-%Y"))        # date11. format
print('Last day is:', last_day.strftime("%d/%m/%Y"))        # ddmmyy10. format
print('Last day is:', last_day.strftime("%a, %b %d, %Y"))   # weekdate17. format
print('Last day is:', last_day.strftime("%Y-%m-%d"))        # yymmdd10. format

Last day is: 31-Dec-2016
Last day is: 31/12/2016
Last day is: Sat, Dec 31, 2016
Last day is: 2016-12-31

The SAS program below illustrates formats to map datetime values into string representation similiar to the strftime() method.

````
    4         data _null_;
    5         last_day = '31Dec16'd;
    6         
    7         ld_f1 = put(last_day, date11.);
    8         ld_f2 = put(last_day, ddmmyy10.);
    9         ld_f3 = put(last_day, weekdate17.);
    10        ld_f4 = put(last_day, yymmdd10.);
    11        
    12        put 'Last day is: ' ld_f1;
    13        put 'Last day is: ' ld_f2;
    14        put 'Last day is: ' ld_f3;
    15        put 'Last day is: ' ld_f4;

    Last day is: 31-DEC-2016
    Last day is: 31/12/2016
    Last day is: Sat, Dec 31, 2016
    Last day is: 2016-12-31
````

The strptime() method is used to create a datetime object from a string representation of datetime corresponding to the format string supplied.  See the example below in cell #9.

In [9]:
str_date = "01/01/2016"
first_date = datetime.strptime(str_date, "%d/%m/%Y" )
print(first_date)
print('type for str_date is:', type(str_date))
print('type for first_date is:', type(first_date))

2016-01-01 00:00:00
type for str_date is: <class 'str'>
type for first_date is: <class 'datetime.datetime'>

The SAS program below illustrates informats to map string representations of datetime into a SAS datetime value similiar to the strptime() method.

````
    45        data _null_;
    46        
    47        str_date = "01/01/2016";
    48        
    49        first_date = input(str_date, ddmmyy10.);
    50        
    51        put first_date ddmmyy10.;

    01/01/2016
````

Basic date aritmetic illustrating the replace() method.

In [10]:
d = date(2015, 12, 31)
if d == date(2015, 12, 31):
    d2 = d.replace(day=25) == date(2015, 12, 25)
print(d)
print(d2)

2015-12-31
True

In [11]:
today = date.today()

birth_day = date(today.year, 1, 24)

if birth_day < today:
    birth_day = birth_day.replace(year=today.year + 1)
print('Next birthday is:', birth_day)

days_until = abs(birth_day - today)
print(days_until)
print(type(days_until))

Next birthday is: 2017-01-24
93 days, 0:00:00
<class 'datetime.timedelta'>

The example above in cell #11 is another illustration of date arithmetic.  The if condition determine whether the birthday has occured this year (in this case, True) and if True, uses the date.replace() method to increment to the next year.  The syntax:

    days_until = abs(birth_day - today)
    
returns a timedelta.  As the name suggests, it is a duration period.  Additional examples of working with timedelta objects is below.

The analog SAS program for counting the number of days until the next birthday is below.  

In both the Python and SAS examples had we added 365 days in the conditional branch of the program the results would have been 94 days since 2016 is a leap year.  This is a  reminder that short-cuts like adding 365.25 to increment to the next year or adding 24 to increment to the following day is fraught with unintended consequences.  That is why these functions and operators are available.

````
    35       data _null_;
    36       
    37       today = today();
    38       
    39       birth_day = '24Jan16'd;
    40       
    41       if birth_day < today then do;
    42          next_birth_day = intnx('year', birth_day, 1, 'sameday');
    43          f_b_day = put(next_birth_day, mmddyy10.);
    44          put 'Next birthday is: ' f_b_day;
    45       end;
    46       
    47       days_until = abs(next_birth_day - today);
    48       put days_until ' days';

    Next birthday is: 01/24/2017
    95  days
````

## time objects

The time object behaves similiar to the date object with respect to displaying and mapping string representations of time into time objects.  The SAS analogs are similar as well.  

The syntax for constructing a time object is:

    time(hour=hh, minute=mm, second=0ss, microsecond=ms)
    
    Where hh is 0 <= hour < 24
          mm is 0 <= minute < 60
          ss is 0 <= second < 60
          ms is 0 <= microsecond < 1000000
          
The time object has two other parameters, tzinfo and fold outside the scope of these examples.  The details for the time object are found <a href="https://docs.python.org/3.6/library/datetime.html#time-objects"> here </a>.

In [12]:
go_time = time(12, 34, 56)
print(go_time)
type(go_time)

12:34:56

datetime.time

Another self-explanatory example.

In [13]:
datetime.now()

datetime.datetime(2016, 10, 23, 18, 16, 38, 769083)

Above, the datetime.now() method returns the current time.  The SAS analog is the time() function.

In [14]:
print(datetime.now().hour)
print(datetime.now().minute) 
print(datetime.now().second)

18
16
38

The .hour, .minute, and .second attribute for datetime objects returns hour, minutes, and seconds respectively.  These attributes return integers.  

SAS has the analog functions, hour(), minute(), second(), used to return the respective portions of a SAS datetime value. These functions return numeric values.

````
    21       data _null_;
    22       
    23       now = time();
    24       
    25       go_time = "12:34:45"t;
    26       
    27       now_f = put(now, time8.);
    28       put 'unformatted, now is ' now /
    29           'formatted with time8., now is: ' now_f;
    30       
    31       h = hour(now);
    32       m  = minute(now);
    33       s = second(now);
    34       
    35       put 'hour returns: ' h
    36           ' minute returns: ' m
    37           ' second returns: ' s;

    unformatted, now is 57327.064
    formatted with time8., now is: 15:55:27
    hour returns: 15  minute returns: 55  second returns: 27.063999891
````

In [15]:
print('Hour:', go_time.hour, 'Minutes:', go_time.minute, 'and seconds:', go_time.second)

Hour: 12 Minutes: 34 and seconds: 56

The .hour, .minute, and .second attribute also work with arbitrary times as illustrated in cell #xx above.

## timedelta objects

In [16]:
this_day = datetime.now() 
yesterday = this_day + timedelta(days=-1)

print('Today is:', this_day, 'Yesterday was:', yesterday)
type(yesterday)

Today is: 2016-10-23 18:16:39.249604 Yesterday was: 2016-10-22 18:16:39.249604

datetime.datetime

In [17]:
today = date.today()
moment = datetime.now().time()
now = datetime.combine(today, moment)

In [18]:
type(this_day)

datetime.datetime

In [19]:
print(today, moment, now)

2016-10-23 18:16:39.384620 2016-10-23 18:16:39.384620