# Chapter 10 -- Groupby

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame, Index
from IPython.display import Image

In [26]:
pd.options.display.float_format = '{:20,.2f}'.format

The pd.read_pickle() function reads the Lending Club Data Frame created in <a href="http://nbviewer.jupyter.org/github/RandyBetancourt/PythonForSASUsers/blob/master/Chapter%2012%20--%20Additional%20Data%20Handling%20.ipynb#Save-to-Disk"> Chapter 12, Additional Data Handling</a>.

In [27]:
loans = pd.read_pickle('lending_club.pkl')
loans.shape

(42595, 25)

Display attribute information for the 'loans' DataFrame.

In [46]:
loans.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42595 entries, 872482 to 2843
Data columns (total 25 columns):
delinq_2yrs    42566 non-null float64
dti            42595 non-null float64
emp_len        42595 non-null object
fst_ln         2815 non-null object
grade          42595 non-null object
id             42595 non-null int64
income         42595 non-null float64
inq_6mnth      42566 non-null float64
ln_amt         42595 non-null int64
ln_fst         39751 non-null object
ln_plcy        42595 non-null bool
ln_stat        42595 non-null object
m_pay          42595 non-null float64
mem_id         42595 non-null int64
open_acc       42566 non-null float64
own_rnt        42595 non-null object
purpose        42595 non-null object
rate           42595 non-null float64
revol_bal      42595 non-null int64
revol_util     42595 non-null float64
state          42595 non-null object
sub_grd        42595 non-null object
term           42595 non-null object
dti_cat        42389 non-null category
inc_cat        42595 non-null int8
dtypes: bool(1), category(1), float64(8), int64(4), int8(1), object(10)
memory usage: 7.6+ MB

Create the GroupBy object 'grp_grd' using the key column 'grade'. It does not compute anything until an operation is applied to the resulting groups.  One of the simpliest aggregation method applied is the len() function used to return the number of groups. The GroupBy: split-apply-combine for panda is located <a href="http://pandas.pydata.org/pandas-docs/stable/groupby.html"> here</a>.

In [32]:
grp_grd = loans.groupby('grade')
print(type(grp_grd))
print(len(grp_grd))

<class 'pandas.core.groupby.DataFrameGroupBy'>
7

The GroupBy object has a number of aggregation methods which can be applied to the individual groups, for example .mean().

In [48]:
grp_grd['income'].mean()

grade
A              66,711.88
B              67,918.69
C              68,199.96
D              68,277.02
E              75,889.16
F              83,095.53
G              93,055.82
Name: income, dtype: float64

Even if we do not use the GroupBy object created above, we can still render the average income for each level of the column 'grade' by passing the DataFrame column name.  In this case, 'income' to the .mean() attribute.

In [29]:
loans.groupby('grade')['income'].mean()

grade
A              66,711.88
B              67,918.69
C              68,199.96
D              68,277.02
E              75,889.16
F              83,095.53
G              93,055.82
Name: income, dtype: float64

We can use the .aggregate() attribute to apply multiple methods to the group levels.

In [49]:
grp_grd['income'].aggregate(['mean', 'std', 'count'])

                      mean                  std  count
grade
A                66,711.88            54,049.48  10202
B                67,918.69            60,705.94  12408
C                68,199.96            86,568.69   8747
D                68,277.02            49,031.33   6025
E                75,889.16            55,312.08   3401
F                83,095.53            63,771.87   1300
G                93,055.82            73,522.11    512

We can requests multiple columns as part of the GroupBy operation.  In this case, 'income' and 'dti' (which is the debt-to-income ratio).

In [50]:
grp_grd['income', 'dti'].describe().unstack()

                    income                                            \
                     count                 mean                  std
grade
A                10,202.00            66,711.88            54,049.48
B                12,408.00            67,918.69            60,705.94
C                 8,747.00            68,199.96            86,568.69
D                 6,025.00            68,277.02            49,031.33
E                 3,401.00            75,889.16            55,312.08
F                 1,300.00            83,095.53            63,771.87
G                   512.00            93,055.82            73,522.11

                                                                      \
                       min                  25%                  50%
grade
A                 3,300.00            40,000.00            57,632.00
B                 2,000.00            40,000.00            57,996.00
C                 4,000.00            40,000.00            56,000.00
D                 4,000.00            40,000.00            58,000.00
E                 4,200.00            45,000.00            62,000.00
F                 7,280.00            50,000.00            70,679.00
G                 1,896.00            52,000.00            75,000.00

                                                                 dti  \
                       75%                  max                count
grade
A                80,000.00         1,900,000.00            10,202.00
B                80,497.00         3,900,000.00            12,408.00
C                80,000.00         6,000,000.00             8,747.00
D                82,000.00         1,200,000.00             6,025.00
E                90,000.00           750,000.00             3,401.00
F               100,000.00         1,440,000.00             1,300.00
G               110,000.00           725,000.00               512.00

                                                                      \
                      mean                  std                  min
grade
A                    12.04                 7.01                 0.00
B                    13.39                 6.66                 0.00
C                    13.85                 6.50                 0.00
D                    13.98                 6.43                 0.00
E                    14.18                 6.53                 0.00
F                    14.65                 6.55                 0.00
G                    15.69                 7.29                 0.00

                                                                      \
                       25%                  50%                  75%
grade
A                     6.46                11.50                17.10
B                     8.31                13.51                18.62
C                     8.97                14.05                18.99
D                     9.16                14.31                19.25
E                     9.36                14.62                19.60
F                     9.81                15.16                19.76
G                     9.89                15.96                21.33


                       max
grade
A                    29.99
B                    29.95
C                    29.78
D                    29.63
E                    29.70
F                    29.95
G                    29.96

The .get_group attribute returns information about a particular group level.  Here it returns a count of values.

In [33]:
grp_grd.get_group('G').mem_id.count()

512

We can chain attributes to get the desired results.

In [54]:
grp_grd.income.mean().sort_values(ascending=False)

grade
G              93,055.82
F              83,095.53
E              75,889.16
D              68,277.02
C              68,199.96
B              67,918.69
A              66,711.88
Name: income, dtype: float64

In [35]:
grp_grd.size()

grade
A    10202
B    12408
C     8747
D     6025
E     3401
F     1300
G      512
dtype: int64

In [36]:
print(loans.dti.min())
print(loans.dti.max())

0.0
29.99

In [37]:
def stats(grp):
    return {'mean': grp.mean(), 'std': grp.std(), 'count':grp.count()}
type(stats)

function

In [38]:
bins = [0, 10, 20, 30]
names=['Low', 'Medium', 'High']
loans['dti_cat'] = pd.cut(loans['dti'], bins, labels=names)

In [39]:
loans['income'].groupby(loans['dti_cat']).apply(stats).unstack()

                       count                 mean                  std
dti_cat
Low                13,909.00            78,149.43            96,889.77
Medium             20,277.00            67,083.72            38,886.10
High                8,203.00            59,225.00            33,281.46

In [40]:
loans['inc_cat'] = pd.qcut(loans['income'].values, 10).codes

In [41]:
pd.value_counts(loans['inc_cat'].sort_values())

0    5088
7    4436
4    4309
3    4306
2    4265
9    4260
6    4253
5    4163
8    4082
1    3433
Name: inc_cat, dtype: int64

In [42]:
grp_ic = loans.groupby('inc_cat')

In [43]:
grp_ic.mean()

,delinq_2yrs,dti,id,income,inq_6mnth,ln_amt,ln_plcy,m_pay,mem_id,open_acc,rate,revol_bal,revol_util
inc_cat,,,,,,,,,,,,,
0,0.13,12.96,"630,167.71","23,505.59",1.08,"5,620.61",0.91,172.02,"781,207.02",6.84,0.12,"5,019.00",0.45
1,0.14,14.38,"656,928.62","34,240.73",1.02,"7,824.64",0.94,233.89,"815,439.43",8.05,0.12,"7,180.75",0.48
2,0.13,14.21,"661,064.83","40,730.02",1.06,"8,733.34",0.93,256.57,"820,855.51",8.33,0.12,"8,515.88",0.49
3,0.15,13.98,"668,382.16","47,674.11",1.03,"9,691.41",0.94,281.29,"829,786.19",8.90,0.12,"9,980.06",0.50
4,0.15,14.27,"668,425.58","54,526.42",1.05,"10,557.69",0.94,306.30,"831,454.24",9.48,0.12,"11,458.01",0.50
5,0.16,13.73,"677,408.79","62,090.00",1.09,"11,440.48",0.94,329.85,"841,954.59",9.63,0.12,"12,595.62",0.49
6,0.16,13.66,"673,780.20","71,171.32",1.08,"12,329.00",0.94,356.63,"837,242.11",10.03,0.12,"14,676.67",0.50
7,0.15,13.11,"678,656.01","83,137.04",1.11,"13,647.79",0.93,392.30,"843,460.17",10.32,0.12,"17,728.25",0.50
8,0.17,12.63,"671,238.86","101,756.61",1.11,"14,621.23",0.94,420.76,"835,501.61",10.81,0.12,"21,984.46",0.51
9,0.19,11.06,"670,396.71","175,721.94",1.19,"17,016.68",0.92,492.94,"833,295.84",11.33,0.13,"34,515.34",0.51

In [44]:
grp_grd['income'].nlargest(3)

grade  id
A      611872           1,900,000.00
       458760           1,440,000.00
       453667           1,362,000.00
B      519954           3,900,000.00
       56                 984,000.00
       643926             948,000.00
C      513542           6,000,000.00
       269818           2,039,784.00
       884755           1,782,000.00
D      603818           1,200,000.00
       514680             840,000.00
       752994             648,000.00
E      792270             750,000.00
       565565             700,053.85
       508436             660,000.00
F      743              1,440,000.00
       473872             600,000.00
       843071             350,000.00
G      989796             725,000.00
       1420               600,000.00
       2677               500,000.00
Name: income, dtype: float64

## Resources

The GroupBy: split-apply-combine for panda is located <a href="http://pandas.pydata.org/pandas-docs/stable/groupby.html"> here</a>.

Apply Operations to Groups in Pandas, by Chris Albon, located <a href="http://chrisalbon.com/python/pandas_apply_operations_to_groups.html"> here.</a>

GroupBy-fu: improvements in grouping and aggregating data in pandas, by Wes McKinney, located <a href="http://wesmckinney.com/blog/groupby-fu-improvements-in-grouping-and-aggregating-data-in-pandas/"> here</a>.