# Chapter 9 -- Panda Time Series and Date Handling

## Draft

Chapter 8, Understanding Date Time Arithmetic provided a short introduction to Python's datetime capabilities.  In this chapter we illustrate pandas time series and date handling.  The examples we illustrate are: 

     1. Creating and manipulating a fixed-frequency of date and time spans
     2. convert time series from one frequency to another
     3. increment 'non-standard' dates and times intervals (e.g. business week)

We will examine each of these in detail.

In [1]:
import pandas as pd
import numpy as np
from numpy.random import randn

## Creating and manipulating a fixed-frequency of date and time spans

Create a DateTimeIndex object.

In [2]:
rng = pd.date_range('1/1/2016', periods=90, freq='D')

Print the first 10 dates in the DateTimeIndex

In [3]:
rng[:10]

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [4]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [5]:
type(ts)

pandas.core.series.Series

Time-stamped data for pandas represent a point in time.

In [6]:
pd.Timestamp('2016-10-20')

Timestamp('2016-10-20 00:00:00')

Period being inferred from the datetime string.

In [7]:
pd.Period('2016-01-01')

Period('2016-01-01', 'D')

Get type

In [8]:
type(pd.Period('2016-01-01'))

pandas._period.Period

Period being set explicitly

In [9]:
pd.Period('2016-05', freq='D')

Period('2016-05-01', 'D')

Timestamp and Period can be the index.  Coerced into PeriodIndex and DateTimeIndex

In [10]:
dates = [pd.Timestamp('2012-05-01'), pd.Timestamp('2012-05-02'), pd.Timestamp('2012-05-03')]

In [11]:
dates

[Timestamp('2012-05-01 00:00:00'),
 Timestamp('2012-05-02 00:00:00'),
 Timestamp('2012-05-03 00:00:00')]

In [12]:
 ts = pd.Series(np.random.randn(3), dates)

In [13]:
ts

2012-05-01    1.411032
2012-05-02    0.312828
2012-05-03   -0.651495
dtype: float64

In [14]:
type(ts.index)

pandas.tseries.index.DatetimeIndex

In [15]:
ts.index

DatetimeIndex(['2012-05-01', '2012-05-02', '2012-05-03'], dtype='datetime64[ns]', freq=None)

Convert date string to datetime

In [16]:
pd.to_datetime('2016/11/30')

Timestamp('2016-11-30 00:00:00')

In [17]:
type(pd.to_datetime('2016/11/30'))

pandas.tslib.Timestamp

Convert date string to Timestamp

In [19]:
pd.Timestamp('2016/11/30')

Timestamp('2016-11-30 00:00:00')

In [20]:
type(pd.Timestamp('2016/11/30'))

pandas.tslib.Timestamp

In [22]:
df = pd.DataFrame({'year': [2014, 2015, 2016],
                   'month': [1, 2, 3],
                   'day': [1,2,3,]})

In [23]:
from datetime import datetime, date, time
start = datetime(2016, 1, 1)
end = datetime(2016, 12, 31)
rng = pd.date_range(start,end)

In [24]:
rng

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10',
               ...
               '2016-12-22', '2016-12-23', '2016-12-24', '2016-12-25',
               '2016-12-26', '2016-12-27', '2016-12-28', '2016-12-29',
               '2016-12-30', '2016-12-31'],
              dtype='datetime64[ns]', length=366, freq='D')

In [25]:
start = datetime(2016, 1, 1)
end = datetime(2016, 12, 31)
b_rng = pd.bdate_range(start,end)

In [26]:
b_rng

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08', '2016-01-11', '2016-01-12',
               '2016-01-13', '2016-01-14',
               ...
               '2016-12-19', '2016-12-20', '2016-12-21', '2016-12-22',
               '2016-12-23', '2016-12-26', '2016-12-27', '2016-12-28',
               '2016-12-29', '2016-12-30'],
              dtype='datetime64[ns]', length=261, freq='B')

In [27]:
rng = pd.date_range(start, end, freq='BM')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts.index

DatetimeIndex(['2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29',
               '2016-05-31', '2016-06-30', '2016-07-29', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-30'],
              dtype='datetime64[ns]', freq='BM')

Returns the first 5

In [28]:
ts[:5].index

DatetimeIndex(['2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29',
               '2016-05-31'],
              dtype='datetime64[ns]', freq='BM')

 Returns the nth, i.e. 2 = every other one

In [29]:
ts[::2]

2016-01-29   -2.153902
2016-03-31    1.226146
2016-05-31    1.161034
2016-07-29   -0.139306
2016-09-30    0.404147
2016-11-30   -0.357309
Freq: 2BM, dtype: float64

In [30]:
ts[::6]

2016-01-29   -2.153902
2016-07-29   -0.139306
Freq: 6BM, dtype: float64